// forms
form,
fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
}

input[type='text'],
input[type='tel'],
input[type='email'],
input[type='search'],
input[type='password'],
//input[type='url'],
// input[type='date'],
textarea {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	box-sizing: border-box;
	padding: 15px;
	border: 1px solid $form-element-border-color;
	border-radius: 14px;
	font-size: 14px;
	line-height: 1.22;
	font-weight: 400;
	box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0);
	outline: none;

	@include media ('>=tablet') {
		padding: 17px 30px;
		font-size: 18px;
	}

	// &:hover {

	// }

	&:focus {
		border-color: $form-element-focus-border-color;
		box-shadow: 0 0 10px 2px rgba(185,255,102, .5);
	}

	@include placeholder {
		color: $placeholder-color;
	}
}

select {
	-webkit-border-radius: 0;
}

textarea {
	resize: none;
	vertical-align: top;
	min-height: 190px;
}

button:not(.slick-arrow),
input[type='button'],
input[type='reset'],
input[type='file'],
input[type='submit'] {
	@extend .btn;

	-webkit-appearance: none;
	-webkit-border-radius: 0;
	cursor: pointer;
}

.error {
	border-color: $red!important;
	color: $red;

	&:focus {
		box-shadow: 0 0 10px 2px rgba(216,62,87, .5) !important;
	}
}

label {

	&.error {
		font-size: 14px;
		margin: -7px 0 -19px;
	}
}